extends layout

block content
  h1 Koni Kodes' RESTFul API
  h2 Time Microservice
  
  p.turq Example Usage
  code localhost:3000/January 1, 2017
  br
  code localhost:3000/1483228800
  br
  p.turq Expected Output is JSON
  code {"unix": 1483228800, "natural": January 1, 2017}
