doctype html
html
  head
    title= title
    name= name
    link(rel='stylesheet', href='/stockmarket/stylesheets/style.css')
    script(src="/stockmarket/third-party/jquery.min.js")
    script(src="/stockmarket/third-party/bootstrap/js/bootstrap.min.js")
    link(rel="stylesheet", href="/stockmarket/third-party/bootstrap/css/bootstrap.min.css")
  body
    block content
