<script>
    $(document).ready(function() {
        $("#login-div").css('display', 'block').addClass("animated slideInDown");
        $("#logout-button").click(function() {
            $.post("logout", function(data) {
                window.location.href = "/";
            });
        });
        $("#login-link").click(function() {
            if($("#login-div").css('display') == 'none') {
                $("#form-container").css("height", "13em");
                $("#register-div").removeClass("animated slideInDown").addClass("animated fadeOutDown");
                window.setTimeout(function() {
                    $("#register-div").removeClass("animated fadeOutDown").css('display', 'none');
                    $("#login-div").css('display', 'block').addClass("animated slideInDown");
                }, 700);
            }
        });
        $("#register-link").click(function() {
            if($("#register-div").css('display') == 'none') {
                $("#form-container").css("height", "20em");
                $("#login-div").removeClass("animated slideInDown").addClass("animated fadeOutDown");
                window.setTimeout(function() {
                    $("#login-div").removeClass("animated fadeOutDown").css('display', 'none');
                    $("#register-div").css('display', 'block').addClass("animated slideInDown");
                }, 700);
            }
        });
    });
</script>
<style>
    #login-status {
        text-align: center;
    }
    #form-container {
        position: relative;
        height: 13em;
        max-width: 30em;
        margin: 0 auto;
        overflow: hidden;
        transition: height 0.7s;
    }
    .form-div {
        display: none;
        text-align: center;
        margin: auto;
        animation-duration: 0.7s;
        margin-top: 0.5em;
    }
    .text-input {
        margin-right: 0.5em;
    }
    #logout-button {
        position: relative;
        left: 0.5em;
    }
</style>
<div id="login-body" ng-app="loginModule">
    <div id="login-status" ng-controller="StatusController">
        <div id="login-loading" ng-show="!receivedLogin">
            <h4>Loading, please wait...</h4>
        </div>
        <div id="login-not-logged" ng-show="receivedLogin && !isLogged">
<div class="panel panel-info">
<div class="panel-heading">
            <h4>Not logged in. Please <a id="login-link" href="#">login</a> or <a id="register-link" href="#">register</a>.</h4>
</div>
            <div id="form-container" class="panel-body">
                <div id="register-div" class="form-div">
                    <form id="register-form" name="register-form" ng-controller="RegisterController" ng-submit="register()">
                        <div class="form-group">
                            <label class="sr-only" for="register-username">Username:</label>
                            <input id="register-username" class="form-control text-input" type="text" name="username" ng-model="user.username" placeholder="User name"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="register-password">Password:</label>
                            <input id="register-password" class="form-control text-input" type="password" name="password" ng-model="user.password" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="register-password-repeat">Repeat password:</label>
                            <input id="register-password-repeat" class="form-control text-input" type="password" name="password-repeat" ng-model="user.passwordRepeat" placeholder="Repeat password"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="register-realname">Real name:</label>
                            <input id="register-realname" class="form-control text-input" type="text" name="realname" ng-model="user.realname" placeholder="Real name"/>
                        </div>
                        <button type="submit" class="btn btn-default">Register</button>
                        <div>
                            <p class="error-message text-danger">{{message}}</p>
                        </div>
                    </form>
                </div>
                <div id="login-div" class="form-div">
                    <form id="login-form" name="login-form" ng-controller="LoginController" ng-submit="login()">
                        <div class="form-group">
                            <label class="sr-only" for="login-username">Username:</label>
                            <input id="login-username" class="form-control text-input" type="text" name="username" ng-model="user.username" placeholder="User name"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="login-password">Password:</label>
                            <input id="login-password" class="form-control text-input" type="password" name="password" ng-model="user.password" placeholder="Password"/>
                        </div>
                        <button type="submit" class="btn btn-default">Log in</button>
                        <div>
                            <p class="error-message text-danger">{{message}}</p>
                        </div>
                    </form>
                </div>
</div>
            </div>
        </div>
        <div id="login-logged" ng-show="isLogged">
<div class="panel panel-info">
<div class="panel-heading">
            <h4>Welcome, {{user}}! <a id="logout-button" href="#"><i class="fa fa-sign-out"></i></a></h4>
            </div>
            </div>
        </div>
    </div>
</div>