<style>
    .mypolls-results {
        text-align: center;
        margin: 2em auto;
        max-width: 30em;
    }
</style>
<div class="poll-panel panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">My polls</h3></div>
    <div id="mypolls-panel-body" class="panel-body">
        <div class="mypolls-results panel panel-default" ng-repeat="result in MyPollsResults">
            <div class="panel-heading">
                <h4 class="panel-title">{{result.question}}</h4>
            </div>
            <div class="panel-body">
                <button type="button" class="poll-button btn btn-success" ng-click="viewPoll(result._id)">View poll</button>
                <button type="button" class="poll-button btn btn-danger" ng-click="deletePoll(result._id)">Delete</button>
            </div>
            
        </div>
        <div ng-show="!hasPolls">
            <h4>You don't have any polls yet!</h4>
            <p>Would you like to create one? Use the "Add new poll" tab above!</p>
        </div>
        <p>{{MyPollsMessage}}</p>
    </div>
</div>
